In [ ]:
import pandas as pd

# Load dataset
df = pd.read_excel('Online Retail.xlsx')

In [5]:
# Quick overview of the dataset
print(df.info())
print(df.describe())

# Check for missing values
print(df.isnull().sum())

# Check for duplicates
print(df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB
None
            Quantity                    InvoiceDate      UnitPrice  \
count  541909.000000                         541909  541909.000000
mean        9.552250  2011-07-04 13:34:57.156386048       4.611114
min    -80995.000000            2010-12-01 08:26:00  -11062.060000
25%         1.000000            2011-03-28 11:34:00       1.250000
50%         3.000000            2011-07-19 17:17:00       2.080000
75%        10.000000            2011-10-19 11:27:00       4.130000
max     80995.000000            2011-12-09 12:50:00   38970.000000
std       218.081158                            NaN      96.759853

          CustomerID
count  406829.000000
mean    15287.690570
min     12346.000000
25%     13953.000000
50%     15152.000000
75%     16791.000000
max     18287.000000
std      1713.600303
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64
5268

In [13]:
# Drop rows with missing CustomerID (optional, depending on requirement)
df_clean = df.dropna(subset=['CustomerID'])

In [14]:
# Use .loc to avoid the SettingWithCopyWarning
df_clean.loc[:, 'Description'] = df_clean['Description'].fillna('Unknown')

In [15]:
# Remove invalid transactions (Quantity and UnitPrice)
df_clean = df_clean[(df_clean['Quantity'] > 0) & (df_clean['UnitPrice'] > 0)]

In [16]:
# Drop duplicate rows
df_clean = df_clean.drop_duplicates()

In [17]:
# Confirm changes
print(df_clean.info())
print(df_clean.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 392692 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392692 non-null  object
 1   StockCode    392692 non-null  object
 2   Description  392692 non-null  object
 3   Quantity     392692 non-null  int64
 4   InvoiceDate  392692 non-null  datetime64[ns]
 5   UnitPrice    392692 non-null  float64
 6   CustomerID   392692 non-null  float64
 7   Country      392692 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.0+ MB
None
            Quantity                    InvoiceDate      UnitPrice  \
count  392692.000000                         392692  392692.000000
mean       13.119702  2011-07-10 19:13:07.771892480       3.125914
min         1.000000            2010-12-01 08:26:00       0.001000
25%         2.000000            2011-04-07 11:12:00       1.250000
50%         6.000000            2011-07-31 12:02:00       1.950000
75%        12.000000            2011-10-20 12:53:00       3.750000
max     80995.000000            2011-12-09 12:50:00    8142.750000
std       180.492832                            NaN      22.241836

          CustomerID
count  392692.000000
mean    15287.843865
min     12346.000000
25%     13955.000000
50%     15150.000000
75%     16791.000000
max     18287.000000
std      1713.539549

In [19]:
from sqlalchemy import create_engine
import psycopg2

# Create engine for PostgreSQL connection
# Replace 'localhost' and '5432' if your PostgreSQL instance is running on a different host or port
engine = create_engine('postgresql+psycopg2://postgres@localhost:5432/retail_data_warehouse')

# Load the cleaned pandas DataFrame into PostgreSQL
df_clean.to_sql('cleaned_online_retail_data', engine, index=False, if_exists='replace')

692

In [37]:
# Import necessary libraries
import pandas as pd
from sqlalchemy import create_engine
import dash
from dash import dcc, html
import plotly.express as px

# Set up the connection (replace with your credentials)
engine = create_engine('postgresql+psycopg2://postgres@localhost:5432/retail_data_warehouse')

# Query to retrieve data from fact_sales
query_sales = 'SELECT * FROM fact_sales;'
data_sales = pd.read_sql(query_sales, engine)

# Calculate total sales
data_sales['total_sales'] = data_sales['quantity'] * data_sales['unit_price']
total_sales = data_sales['total_sales'].sum()

# Query for top-selling products
top_selling_products = data_sales.groupby('stock_code').agg(total_quantity=('quantity', 'sum')).reset_index()
top_selling_products = top_selling_products.nlargest(10, 'total_quantity')

# Query to retrieve total sales by region (country)
query_sales_by_region = '''
SELECT 
    c.country,
    SUM(fs."quantity" * fs."unit_price") AS total_sales
FROM 
    fact_sales fs
JOIN 
    dim_customer c ON fs.customer_id = c.customer_id
GROUP BY 
    c.country
ORDER BY 
    total_sales DESC
LIMIT 10;  -- Adjust limit as necessary
'''
sales_by_region = pd.read_sql(query_sales_by_region, engine)

# Initialize the Dash app
app = dash.Dash(__name__)

# Layout of the dashboard
app.layout = html.Div([
    html.H1("Sales Dashboard"),
    
    # Display total sales
    html.Div(f"Total Sales: ${total_sales:,.2f}", style={'font-size': '24px', 'margin': '20px'}),
    
    # Graph for top-selling products
    dcc.Graph(
        id='top-selling-products',
        figure=px.bar(
            top_selling_products, 
            x='stock_code', 
            y='total_quantity', 
            title='Top Selling Products',
            labels={'total_quantity': 'Quantity Sold', 'stock_code': 'Product Code'},
            color='total_quantity',
            template='plotly_white'
        )
    ),

    # Graph for total sales by region
    dcc.Graph(
        id='sales-by-region',
        figure=px.bar(
            sales_by_region, 
            x='country', 
            y='total_sales', 
            title='Total Sales by Region',
            labels={'total_sales': 'Total Sales ($)', 'country': 'Region'},
            color='total_sales',
            template='plotly_white'
        )
    )
])

# Run the app
if __name__ == '__main__':
    app.run_server(debug=True)